/*Css para centralizar*/
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*Borda pra o jogo*/
  canvas {
    border: 1px solid rgb(10, 10, 10); /* Cor azul para ver a borada, tirar no final*/
    display: block;
    margin: 0 auto;
  }